name: Playground

on:
  push:
    branches:
      - develop
      - main
      - feature/**
      - bugfix/**
  pull_request:
    types:
      - closed
    branches:
      - main
  
jobs:
  build-and-deploy:
    name: Build & Deploy
    uses: ortsarchiv-gemeinlebarn/automation/.github/workflows/template-test-and-production.yml@develop
